<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCx4djTlU3sB6bj1BFTPj-px_B8V-JjZEM</string>
	<key>GCM_SENDER_ID</key>
	<string>787116393210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.quickstart.FirebaseAIExample</string>
	<key>PROJECT_ID</key>
	<string>gemini-api-7419b</string>
	<key>STORAGE_BUCKET</key>
	<string>gemini-api-7419b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787116393210:ios:719033bedc761c8455bf43</string>
</dict>
</plist>